SERVER_PORT=8097
DATABASE_URL=jdbc:postgresql://localhost:5432/autoassist
DATABASE_USERNAME=autoassist
DATABASE_PASSWORD=autoassist
KEYCLOAK_ISSUER_URI=http://localhost:8080/realms/autoassist
MINIO_URL=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=autoassist-media

